<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to "logout", logout_path, method: :delete if user_signed_in? %>
      <div class="row">
        <% if flash[:success] %>
        <span data-flash
          class="
            col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3
            alert alert-success
          "> <%= flash[:success]%> </span>
        <% elsif flash[:error]%>
        <span data-flash class="class=
          col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3
            alert alert-success
            alert alert-danger
          "> <%= flash[:error]%> </span>
        <% end %>
      </div>


    <%= yield %>
  </body>
</html>
